extends ../layout

block content
  .container
    .row.mt-5.mb-5
      .col-md-6.offset-md-3
        h1 Turret

        p.lead A demonstration of OIDC flows and a general playground.

        a(href="/register") Register