extends ../layout

block content
  .container
    .row.mt-5.mb-5
      .col-md-6.offset-md-3
        h1 Turret

        p.lead A demonstration of OIDC flows and a general playground.

        p
          a(href="/register") Register

        p
          a(href="/sign-in") Sign In

        p
          a(href="/authorise?audience=demo&client_id=myClient&scope=read write&redirect_uri=https://turret.localhost:3000&response_type=code") Authorise (issue auth code)