extends ../layout

block content
  .container
    .row.mt-5.mb-5
      .col-md-6.offset-md-3
        h1 Register

        p.lead Example registration form with validation.

        if error
          div(role="alert").alert.alert-danger= error

        form(method='POST' action='/register')
          div.form-group
            label(for='name') Name
            input#name.form-control(type='text' name='name' required value=name)

          div.form-group
            label(for='email') Email
            input#email.form-control(type='email' name='email' required value=email)

          div.form-group
            label(for='password') Password
            input#password.form-control(type='password' required name='password')
            small.form-texts.text-muted Must be at least 8 characters.

          div.form-group
            label(for='password-confirm') Confirm Password
            input#password-confirm.form-control(type='password' required name='repeatPassword')

          button.btn.btn-primary(type='submit') Register

          a(href="/").btn.btn-link Cancel